$font-primary: "DM Sans", sans-serif;
$font-heading: "DM Serif Display", serif;

html,
body {
  margin: 0;
}

*:not(.material-symbols-rounded, .material-symbols-outlined, .font-heading, .font-heading
    *) {
  font-family: $font-primary !important;
  & * {
    font-family: $font-primary !important;
  }
}

.font-heading {
  font-family: $font-heading !important;
  & > * {
    font-family: $font-heading !important;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-family: "Material Symbols Outlined" !important;
}

.MuiTouchRipple-rippleVisible {
  animation-duration: 0.25s !important;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
}
.MuiTouchRipple-child {
  filter: opacity(0.3) !important;
  background: radial-gradient(#000, #000);
}

.dark .MuiTouchRipple-child {
  filter: opacity(0.3) !important;
  background: radial-gradient(hsl(240, 11%, 50%), hsl(240, 11%, 50%));
}

.MuiBackdrop-root {
  background-color: rgba(232, 245, 233, 0.5) !important;
  backdrop-filter: blur(10px);
}
.dark .MuiBackdrop-root {
  background-color: rgba(23, 23, 28, 0.5) !important;
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar {
  width: 0px;
  height: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0);
  border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #a5d6a7;
  border: solid 7px transparent;
  border-radius: 99px;
  transition: all 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px #84ab85;
}

.dark ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px hsl(240, 11%, 20%);
}
.dark ::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 10px 10px hsl(240, 11%, 30%);
}

::-moz-scrollbar-button:decrement,
::-moz-scrollbar-button:increment,
::-webkit-scrollbar-button:decrement,
::-webkit-scrollbar-button:increment {
  width: 0px;
  height: 0px;
}
::-moz-scrollbar-button,
::-webkit-scrollbar-button {
  height: 0px;
  width: 0px;
}

// Display non on mobile scrollbar
@media (max-width: 600px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

.slideDown {
  opacity: 0;
  transform: scale(0.95);
  animation: slideDown 0.2s ease-in-out forwards;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.embla {
  overflow: hidden;
  user-select: none;
}
.embla__container {
  display: flex;
  gap: 1;
}
.embla__slide {
  flex: 0 0 100%;
}

* {
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}
